<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="/static/5%.png">    <!-- JQuery -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- bootstrap same as before -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <script type="text/javascript" src="{{ url_for('static', filename = 'index.js') }}"></script>
    <link rel="shortcut icon" href="/static/5%.png">    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
        body {
            background-color: #4F4440;
            color: white;
            text-align: center; /* Center align all content */
        }

        .carousel-item img {
            height: auto;
            width: 100%;
        }

        h1 {
            padding-top: 55px;
            font-size: 55px;
            padding-bottom: 15px;
        }
        body {
            background-color: #4F4440;
            color: white;
            text-align: center; 
        }

        .container {
            position: relative; 
            background-color: white;
            max-width: 100%;
            margin: 0;
            padding: 15px;
            border: black solid 3px;
        }
        .image {
            position: absolute; 
            left: 0; 
            top: 50%; 
            transform: translateY(-50%); 
            height: 150px;
            width: auto;
            padding-bottom: 20px;
            padding-top: 20px;
            padding-left: 15px;
        }


        h3 {
            color: #DECE53;
            font-size: 50px;
            font-family: cursive;
            padding-top: 15px;
            margin: 0; 
            text-align: center; 
            position: relative; 
        }

        .carousel-item .carousel-image {
            height: 300px;
            width: auto;
            border: 2px solid white;
        }

        .carousel-item p {
            width: 88%; 
            margin: 0 auto; 
            text-align: left;
        }

        .carousel-item h4{
            font-size: 15px;
            height: 35px;
            
        }
        .container-info {
            display: flex;
            margin-top: 55px
        }

        .container-info p {
            width: 60%;
            padding: 35px;
            margin-top: 35px;
            font-size: 27px;
        }
        .image-scroll {
            float: right;
            width: 400px;
            height: auto;
            background-color: #DECE53;
            padding: 10px;
        }

        h5 {
            color: #DECE53;
            font-family: cursive;

        }

                
</style>
</head>

<body>
    <div class="container">
        <img class="image" src="/static/5%.png" alt="Image">
        <h3> Supreme Mathematics</h3>
        <h5> A 5% nation lesson</h5>
    </div>

    <div class="container-info">

        <p>According to "The Five Percenter "Way of Life" by Felicia Miyakawa, five percenter men and women have committed the numbers 
            (in reference to Supreme Mathematics) and their meanings to memory. The numbers being 0-9, five percenters will use these 
            numbers to "creatively show and prove facts and ideas" (pg 200). These numbers can arise anywhere, but for the purpose of 
            this website, we will display the best usage of each number within the song titles itself (not limited to just 5 percenters). 
            
            To the right is each number and its respective meaning. 
        </p>

        <img class="image-scroll" src="/static/scroll.jpeg" alt="Image">
    </div>

    <br>
    
    <!-- Bootstrap Carousel -->
    <div id="carouselExampleIndicators" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
        </ol>
        <br>
        <div class="carousel-inner">
            <div class="carousel-item active">
            
                <h1>0: Cipher</h1>
                <img class="carousel-image" src="/static/0.jpeg" alt="Image">
                <br>
                <br>
                
                <h2>3005, Childish Gambino</h2>
                <h4> decade: 2010s</h4>

                <p>
                    "3005" is a captivating track by Childish Gambino, the stage name of multi-talented artist Donald Glover. 
                    Released in 2013 as part of his album "Because the Internet," the song blends introspective lyrics with an infectious beat, 
                    creating a sonic landscape that resonates with listeners. The title itself, "3005," hints at a distant future, 
                    perhaps suggesting a timeless quality to the emotions explored within the song.
                    <br>
                    <br>
                    In "3005," Gambino delves into themes of loneliness, introspection, and the fleeting nature of relationships. 
                    The chorus, with its haunting repetition of "No matter what you say or what you do, when I'm alone I'd rather be with you," encapsulates the 
                    paradox of yearning for connection while simultaneously feeling isolated. The track's melancholic undertones are juxtaposed with its upbeat tempo, 
                    creating a poignant juxtaposition that reflects the complexities of human emotions. Overall, "3005" stands as a testament to Gambino's prowess as
                     both a lyricist and a producer, leaving a lasting impression on listeners with its raw honesty and infectious rhythm.
                </p>
                <br>
            </div>
            <div class="carousel-item">
                <h1>1: Knowledge</h1>
                
                <h2>3005, Childish Gambino</h2>
                
            </div>
            <div class="carousel-item">
            
                <h1>2: Wisdom</h1>
                <img class="carousel-image" src="/static/2.jpeg" alt="Image">
                <br>
                <br>
                
                <h2>The Heart Part 2, Kendrick Lamar</h2>
                <h4> decade: 2010s</h4>

                <p>
                    The Heart series by Kendrick Lamar is a journey through his life and career serving as benchmarks 
                    for an emotional ride of each of his music. Specifically part 2 is Kdot rapping about his city of Compton, 
                    having moments where he prioritizes genuine emotion over simply stringing impressive lyrical content. 
                    He aims to convey raw emotion and connect deeply with his audience through his lyrics. Wisdom is the ability 
                    to make sensible decisions and give good advice because of the experience you have.

                    <br>
                    <br>
                    
                    Because of Kendricks upbringing he is able to display to the listener what he has been through and how it 
                    currently influences his decisions, even making a connection with God in the process. <b><i>“I ain’t perfect / I ain’t seen 
                    too many churches or know them testament verses”</i></b>, Kendrick now defines himself as Christian, and this is early in his 
                    career but he acknowledges his imperfections and lack of religious upbringing showing self-awareness and humility. 
                    <i><b> “My uncle doing life inside prison; he wasn’t wrapped too tight / He told me ‘Rap about life, not rap n****s”</i></b> he provides wisdom, 
                    literal advice from his incarcerated uncle recognizing his own importance of rapping about real-life experiences.  
                    The heart series allows listeners to better connect with Kdot on an emotional level, <i><b>“ 
                    Im tryna purchase my momma dem’ Benzes / Occupying my time with riches, justifying my time ambitions / Just to coincide, 
                    just to go inside, plus we idolize why we living”</b></i>. Here we see his motivations for success, displaying his material desires
                    while also questioning the deeper meaning and purpose behind them.
                
                </p>
                <br>
            </div>
            <div class="carousel-item">
                <h1>3: Understanding</h1>
                
                <h2>3005, Childish Gambino</h2>
            </div>
            <div class="carousel-item">
                <h1>4: Culture of Freedom</h1>
                
                <h2>3005, Childish Gambino</h2>
            </div>
            <div class="carousel-item">
                <h1>5: Power</h1>
                <img class="carousel-image" src="/static/5.jpeg" alt="Image">
                <br>
                <br>
                
                <h2>5 Deadly Venomz, 2Pac</h2>
                <h4> decade: 1990s</h4>

                <p>
                    The 5 deadly venoms refer to the five individuals on the track rapping bars on this track that directly 
                    reflect themes of power, aggression and dominance. Each verse portrays a persona characterized by confidence, dominance  
                    and confronting challanges head on. Each lyric is bold and assertive from individuals who are unapologetically 
                    in pursuit of power and dominance. 
                    
                    <br><br>
                    Some bars include: 

                    <i><b>

                    "*laughter* We going platinum n***a, we going platinum",
                    "I got a Glock that say 'Pac run the block",
                    "Test the rhyme I'll knock your hairline back an inch",
                    "We takin this motherfucker over, trust, we out"

                    </i></b>

                    My personal favorite is the double entandre, <i><b>"Now they after me, prowling for a n***s bucks
                    Time to see, who's the G, with the bigger nuts" </i></b>about people's jelousy of his alpha male status having money 
                    while trying to provoke 2Pac to violence.
                    <br><br>

                    Whether boasting about achievements, asserting their prowess, or issuing warnings, each line 
                    is delivered with boldness and assertiveness to enphasizes their relentless display of power and dominance. 
                    From the laughter signaling their success to the descriptions of weapons and confrontations, 
                    each lyric revolves around power.

                </p>
            </div>
            <div class="carousel-item">
                <h1>6: Equality</h1>
                
                <h2>3005, Childish Gambino</h2>
            </div>
            <div class="carousel-item">
                <h1>7: God</h1>
                <img class="carousel-image" src="/static/7.jpeg" alt="Image">
                <br>
                <br>
                
                <h2>Thugz Mansion [7 Remix], 2Pac</h2>
                <h4> decade: 2000s</h4>

                <p>
                    Overall, The message of Thugz Mansion displays themes of struggle, resilience and the 
                    longing for a sense of peace in the face of adversity. The metaphorical “Thug Mansion” 
                    is where individuals can refuge from the harsh realities of being African American growing 
                    up on the streets. One of the most meaningful songs by 2Pac, talks about how he would rest 
                    in peace and eventually find happiness where all troubles from his life come to an end and 
                    hoping to find a place of peace after he dies. 
                    <br>
                    <br>
                    However, the 7 remix is a more soulful version of the mix. As this song was released posthumously 
                    the number 7 is much more significant. Named 7 remix because it was mixed by a producer “7 Aurelius” 
                    has a deeper meaning as he is notably a follower of God. Also known as 7 Channel, it would not be 
                    surprising if 7 was actually referred to the Supreme numbers as they specifically chose this number 
                    for the posthumous remix. Although his definitely doesn't mention God, these religious themes are very 
                    reinforced. It has very strong messages and the remix re-emphasizes this message. Notable  lyrics are 
                    <i><b>”Dear mama, don’t cry, your baby boy’s doin’ good / Tell the homies I’m in Heaven and they ain’t got hoods.” 
                    </b></i>
                </p>
                <br>
            </div>
            <div class="carousel-item">
                <h1>8: Build-Destroy</h1>
                
                <h2>3005, Childish Gambino</h2>
            </div>
            <div class="carousel-item">
                <h1>9: Born</h1>
                
                <h2>3005, Childish Gambino</h2>
            </div>
            <!-- Add more carousel items as needed -->
        </div>
        <br>
        <br>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>

</html>
